/* * {
    border: 1px solid rgb(0, 0, 0);
} */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre {
    font-family: 'Darumadrop One';
    font-size: x-large;
    color: white;
    margin-top: 2vh;
    filter: drop-shadow(1px 1px 1px black);

}

.dashboard {
    height: 90vh;
    width: 90vw;
    margin-top: 3vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: tomato;
    border-radius: 20px;
    box-shadow: rgb(89, 89, 89) 4px 2px 0px;
    border: 1px solid rgb(158, 71, 76);
}

.dashboardcontent {
    height: auto;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 20vw;
    height: 10vh;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(46, 204, 113, 1) 100%);
    background-size: 20vw 8px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    filter: drop-shadow(1px 1px 1px black);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: rgb(46, 204, 113);
    position: relative;
    z-index: 3;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.inputvalue {
    font-family: 'Darumadrop One';
    color: rgb(255, 255, 255);
    filter: drop-shadow(1px 1px 0px black);
    margin: 0;
}

.left,
.right {
    min-height: 65vh;
    width: 25vw;
    display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
gap: 2vh;


}

.container {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    min-width: 65vh;
    border: 1px solid rgba(0, 0, 0, 0.527);
    background-color: rgb(255, 255, 255);
}

.ddl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.raw {
    display: flex;
    flex: 1;
}

.raw>div {
    flex: 1;
}

.pix {
    border: 0.1px solid rgb(127, 127, 127);
}



.container>div>div:hover {
    background-color: rgba(7, 255, 255, 0.381);
    cursor: crosshair;

}


.analogbutton,
.squaredbutt {
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    transition: transform 200ms, box-shadow 200ms;

}

.analogbutton {
    width: 6vh;
    height: 6vh;
    border-radius: 30px;
}

.squaredbutt {
   background-color: rgb(46, 204, 113);
    box-shadow: 2px 2px 0px rgb(69, 62, 62);
    display: flex;
    color: #ffffff;
}

.gridclean {
    display: flex;
    gap: 2vw;
}
.analogbutton.active,
.squaredbutt:active {
    transform: translateY(2px) translateX(2px);
    box-shadow: #094c66 0px 0px 0px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
color: #ffffff;
}


.red {
    background-color: rgb(255, 0, 0);
    box-shadow: 2px 2px 0px rgb(150, 0, 0);
}

.blue {
    background-color: blue;
    box-shadow: rgb(2, 2, 155) 2px 2px 0px;
}

.yellow {
    background-color: yellow;
    box-shadow: rgb(209, 192, 2) 2px 2px 0px;
}

.black {
    background-color: rgb(61, 61, 61);
    box-shadow: rgb(0, 0, 0) 2px 2px 0px;
}

.shadow {
    background: linear-gradient(90deg, #ffffff, #000000);
    box-shadow: rgb(89, 89, 89) 2px 2px 0px;
}

.rainbow {
    background: linear-gradient(217deg, rgb(255, 0, 0), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgb(0, 255, 0), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgb(0, 0, 255), rgba(0, 0, 255, 0) 70.71%);
    box-shadow: rgb(89, 89, 89) 2px 2px 0px;
}

.estompe {

    background: linear-gradient(130deg, rgb(146, 144, 144) 0%, rgb(228, 226, 226) 50%, rgb(255, 255, 255) 100%);
    box-shadow: rgb(89, 89, 89) 2px 2px 0px;
}

.white {
    background: white;
    box-shadow: rgb(89, 89, 89) 2px 2px;

}



footer {
    margin: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    color: tomato;
    font-size: inherit;
    flex: 1 1 auto;
    font-size: 10px;
    font-family: 'Slackside One', cursive;
}
.fa-github {
    color:tomato;
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
}
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  .z3{
    margin: auto;
    z-index: 3;
}