* {
    border: 1px solid rgb(0, 0, 0);
}



body {
    height: 100vh;
    border: 1px solid coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre {
    font-family: 'Darumadrop One';
    font-size: 35px;
    color: white;

}

.dashboard {
    height: 90vh;
    width: 90vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(116, 116, 116, 0.137);
    border-radius: 20px;
    box-shadow: rgb(89, 89, 89) 4px 2px 0px;
    border: 1px solid rgb(118, 80, 255);
}

.dashboardcontent {
    height: auto;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left, .right {
    width: 25vw;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    min-width: 65vh;
    border: 1px solid rgba(0, 0, 0, 0.527);
    background-color: rgb(255, 255, 255);
}

.ddl {
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.raw {
    display: flex;
    flex: 1;
}

.raw>div {
    flex: 1;
}

.pix {
    border: 0.1px solid rgb(127, 127, 127);
}



.container>div>div:hover {
    background-color: rgba(7, 255, 255, 0.381);
    cursor: crosshair;

}





.analogbutton {
    width: 6vh;
    height: 6vh;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    transition: transform 200ms, box-shadow 200ms;
}

.analogbutton.active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.red {
    background-color: red;
    box-shadow: rgb(134, 4, 4) 3px 3px 0px;
}

.blue {
    background-color: blue;
    box-shadow: rgb(2, 2, 155) 3px 3px 0px;
}

.yellow {
    background-color: yellow;
    box-shadow: rgb(209, 192, 2) 3px 3px 0px;
}

.black {
    background-color: black;
    box-shadow: rgb(89, 89, 89) 3px 3px 0px;
    color: white;
}

.shadow {
    background: linear-gradient(90deg, #ffffff, #000000);
    box-shadow: rgb(89, 89, 89) 3px 3px 0px;
    color: white;
}

.rainbow {
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    box-shadow: rgb(89, 89, 89) 3px 3px 0px;
    color: white;
}

.estompe {

    background: linear-gradient(130deg, rgb(146, 144, 144) 0%, rgb(228, 226, 226) 50%, rgb(255, 255, 255) 100%);
    box-shadow: rgb(89, 89, 89) 3px 3px 0px;
    color: white;
}

.white {
    background: white;
    box-shadow: rgb(89, 89, 89) 3px 3px 0px;

}